.new-point {
  position: relative;
  width: 100%;
  user-select: none;

  &__caption {
    position: absolute;
    margin: 0;
    padding: 0;
    line-height: 0.75rem;
    color: $ContainerBg-color;
    top: 0.5rem;
    left: 1rem;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 3.5rem;
    color: white;
    border-radius: 4px;
    border: 1px solid $LightElement-color;
    padding-left: 1rem;
    padding-right: 3.25rem;
    padding-top: 0.9375rem;
    background-color: $ActiveElement-color;
    font-size: 1rem;
    text-overflow: ellipsis;
  }

  &__input::placeholder {
    color:$WhiteElement-color;
  }


  &__add-button {
    position: absolute;
    top: 0.8125rem;
    right: 1rem;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 0;
    outline: none;
    border: none;
    border-radius: 50%;
    background: none;
    padding: 0;
    width: 1.875rem;
    height: 1.875rem;
  }

  &__add-button:hover {
    transform: rotate(90deg);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  }


  &__add-button:active .icon__path{
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0.2;
    fill: white;
  }


  &__description {
    padding-top: 5px;
    line-height: 12px;
    color: $LightElement-color;
    font-size: 12px;
  }
}

