.footer {
  text-align: center;


  .footer__link {
    color: $WhiteElement-color;
    text-decoration: none;
    transition: all 0.3s linear;

    &:hover {
      color: $ActiveElement-color;
    }
  }
}