.error-page {
  max-width: 1160px;
  margin: 0 auto;
  color: $WhiteElement-color;
  padding-left: $Side-gap;
  padding-right: $Side-gap;

  @media (min-width: $Screen-max) {
    padding: 0;
  }

  &__header {
    text-align: center;
    padding-bottom: 50px;
  }

  &__text {
    line-height: 30px;
  }

  &__link {
    display: block;
    color: $LightElement-color;
    transition: all 0.3s linear;

    &:hover {
      color: $ActiveElement-color;
    }
  }
}