  .map-region {
    position: relative;
    width: 100%;
    height: 100%;

    &__map {
    box-sizing: border-box;
    border: 0.0625rem solid $color-secondary;
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    transition-duration: 0.3s;
    user-select: none;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

    @media (min-width: $screen-md) {
      height: 35rem;
    }

    @media (min-width: $screen-ld) {
      height: 50rem;
      max-height: none;
    }

    &--hidden {
      opacity: 0;

      + .map-region__preloader {
        display: block;
      }
    }
  }


  &__preloader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -1.5625rem;
    margin-left: -1.5625rem;
    transform: rotate(45deg);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}


.object {
	width: 1.5625rem;
	height: 1.5625rem;
	background-color: $color-main;
  float: left;
  border-radius: 0.25rem;
}


#object_one {
	animation: object_one 1.5s infinite;
	}
#object_two {
	animation: object_two 1.5s infinite;
	}
#object_three {
	animation: object_three 1.5s infinite;
	}
#object_four {
	animation: object_four 1.5s infinite;
	}
	

@keyframes loading-center-absolute {
  100% { 
    transform:  rotate(-45deg);
  }
}


@keyframes object_one {
  25% { 
    transform: translate(0,-3.125rem) rotate(-180deg);
  }
  100% { 
    transform: translate(0,0) rotate(-180deg);
  }
}


@keyframes object_two {
  25% {
    transform: translate(3.125rem,0) rotate(-180deg);
  } 
  100% { 
    transform: translate(0,0) rotate(-180deg);
  }
}

@keyframes object_three {
  25% {
    transform:  translate(-3.125rem,0) rotate(-180deg);
  }
  100% {
    transform: translate(0,0) rotate(-180deg);
  }
}

@keyframes object_four {
  25% {
    transform: translate(0, 3.125rem) rotate(-180deg);
  }
  100% {
    transform: translate(0,0) rotate(-180deg);
  }
}