.help {
  margin: 0 auto;
  max-width: 72.5rem;
  color: $gray-lightnes;
  
  box-sizing: border-box;
  padding-right: $side-gap;
  padding-left: $side-gap;

  
  &__title-page {
    padding-bottom: 1.875rem;
    text-align: center;
  }
  

  &__rules-container {
    display: grid;
    grid-template-columns: minmax(18.125rem, 1fr);
    grid-gap: 3.125rem;
    width: 100%;

    @media (min-width: $screen-sd) {
      grid-template-columns: minmax(23.125rem, 1fr);
    }

    @media (min-width: $screen-md) {
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)); 
    }

    @media (min-width: $screen-max) {
      padding: 0;
    }
  }
}
